.DS_Store
.clj-kondo
.lsp
.env

client/node_modules/
client/resources/public/js/compiled

client/target
client/checkouts
client/src/gen

client/pom.xml
client/pom.xml.asc
client/*.iml
client/*.jar
client/*.log
client/.shadow-cljs
client/.idea
client/.lein-*
client/.nrepl-*
client/.DS_Store

client/.hgignore
client/.hg/

server/target
server/classes
server/checkouts
server/profiles.clj
server/pom.xml
server/pom.xml.asc
*.jar
*.class
server/.lein-*
server/.nrepl-port
server/.prepl-port
server/.hgignore
server/.hg/
